.container {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.navbar {
    display: flex;
    flex: 1;

}

.navbar__canva {
    overflow: hidden;
}

.navbar--right {
    flex: 1;
    flex-direction: column;

}

.navbar--left {
    flex: 1;

}


.navbar__list {
    overflow-y: scroll;

}

.navbar__control {
    display: flex;
    flex-direction: row;
}

.navbar__daterange {
    flex: 1;
}

.navbar__sliderDate {
    flex: 1;
}